{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "~LO": "./src/components/Layout",
          "~COM": "./src/components"
        }
      }
    ]
  ]
}
