.wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	font-weight: 500;
	font-family: 'ProximaNova', sans-serif;

	padding: 8px 16px;
	min-width: 100px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid transparent;
	background-color: var(--white);
	user-select: none;
	// + .wrapper {
	//     margin-left: 8px;
	// }
	&.disabbed {
		opacity: 0.5;
		pointer-events: none;
	}
}

.title + .icon,
.icon + .title {
	margin-left: 18px;
}
.icon {
	width: max-content;
	display: inline-block;
	align-items: center;
	font-size: 1rem;
	svg {
		margin-right: 5px;
	}
}
.rounded {
	border-color: rgba(22, 24, 35, 0.12);
	box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
	border-radius: 52px;
	&:hover {
		border-color: rgba(22, 24, 35, 0.2);
		background-color: rgba(22, 24, 35, 0.03);
	}
}
// button types
.primary {
	background-color: var(--primary);
	color: var(--white);
	background-color: var(--primary);
	&:hover {
		background-color: var(--primary);
		background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.06),
				rgba(0, 0, 0, 0.06)
			),
			#fe2c55;
	}
}
.outline {
	color: var(--primary);
	border-color: currentColor;
	&:hover {
		border-color: currentColor;
		background-color: rgba(254, 44, 85, 0.06);
	}
}
// button size
.small {
	min-width: 88px;
	padding: 4px 16px;
}
.large {
	padding: 14px 16px;
	min-width: 140px;
}
.text {
	color: #685f5f;
	&:hover {
		text-decoration: underline;
	}
}
// .Buttonst {
//     justify-content: flex-start;
//     width: 100%;
//     padding: 11px 16px;
//     border-radius: 0;
//     &:hover {
//         background: rgba(22, 24, 35, 0.03);
//     }
// }
